[Desktop Entry]
Type=Application
Exec=wal -R
Hidden=false
NoDisplay=false
X-GNOME-Autostart-enabled=true
Name[en_IN]=wal-py
Name=wal-py
Comment[en_IN]=Command for changing terminal color theme
Comment=Command for changing terminal color theme
